<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Three Js Template</title>
    <link rel="stylesheet" href="./style.css">
    <script type="importmap">
            {
                "imports":{
                    "three": "./build/three.module.js",
                    "three/examples/controls/OrbitControls": "./jsm/controls/OrbitControls.js"
                }
            }
        </script>
</head>

<body>

    <!-- <div class="loader">

        <div class="counter">0</div>

    </div> -->
    <canvas class="webgl"></canvas>
    <div id="list"></div>
    <div class="close360">x</div>

    <nav id="navbar">

        <a href="http://localhost:8080/" class="logo">logo</a>
        <!-- <input type="search" name="search" id="search" placeholder="ENTER THE NAME OF THE PLACES , CITY , COUNTRY"> -->
        <!-- <button id="search_btn">search</button> -->

        <!-- <p id="demo" style="color: white;">Fetch a file to change this text.</p> -->

        <form action="/logout?_method=DELETE" method="POST" id="fl">

            <button type="submit" class="button_login">Logout</button>

        </form>

        <!-- <a href="#" class="button_login">logout</a> -->


        <ul>

            <li> <a href="#home">home</a> </li>
            <li> <a href="#about">TOURS</a> </li>
            <li> <a href="#services">about</a> </li>
            <li> <a href="#contact">contact</a> </li>

        </ul>

    </nav>


    <!-- <section>

        <div class="container1 c">

            <div class="close_login">x</div>

            <div class="signin">

                <div class="formsi fsi">

                    <form action="/login" method="post">

                        <h2>sign in</h2>
                        <input type="name" name="User" id="user" placeholder="Username/Email">
                        <input type="password" name="Password" id="Password" placeholder="Password">
                        <input type="submit" value="Login" id="btn">
                        <p>Don't have an account?<a href="#" onclick="toggleForm();">sing up</a></p>


                    </form>



                </div>



            </div>




            <div class="signin signup">

                <div class="formsi">

                    <form action="/signin" method="post">

                        <h2>sign up</h2>
                        <input type="name" name="User" id="user" placeholder="Username">
                        <input type="email" name="email" id="email" placeholder="Email">
                        <input type="password" name="Password" id="Password" placeholder="Password">
                        <input type="password" name="Cofirm Password" id="Password" placeholder="Cofirm Password">
                        <input type="submit" value="Sign Up" id="btn">
                        <p>Already have an account?<a href="#W" onclick="toggleForm();">sign in</a></p>

                                                                                                                                                                                         
                    </form>



                </div>



            </div>



        </div>



    </section> -->


    <section class="container" id="home">


        <div class="point point-0">
            <button class="label">AIRPORT</button>
            <div class="text">Front and top screen with HUD aggregating terrain and battle informations.</div>
        </div>
        <div class="point point-1">
            <button class="label">HOTEL AND RESORTS</button>
            <div class="text">Ventilation with air purifier and detection of environment toxicity.</div>
        </div>
        <div class="point point-2">
            <button class="label">HOSPITAL</button>
            <div class="text">Cameras supporting night vision and heat vision with automatic adjustment.</div>
        </div>






        <button id="btn-360" class="btn1">360 VIEW</button>
        <button id="btn-360" class="btn2">360 VIEW</button>
        <button id="btn-360" class="btn3">360 VIEW</button>



        <form autocomplete="off">
            <div class="autocomplete">
                <input id="search" type="text" name="myCountry"
                    placeholder="ENTER THE NAME OF THE PLACES , CITY , COUNTRY">
            </div>
        </form>
        <button id="search_btn">search</button>

        <div class="content">



            <h1 class="first-h1">MAKE YOUR JOURNEY</h1>
            <h1 class="second-h1">amazing and live</h1>

        </div>

    </section>


    <section id="about">

        <div class="heading-about">TOURS</div>


        <div class="planeyourtour_btn">
            <div class="close_planeyourtourbtn">x</div>


            <div class="planeyourtour_btn_content_about">


                <!-- <div class="planeyourtour_content_details"> -->


                <nav class="nav_planeyourtourbtn">

                    <ul>

                        <li> <a href="#hotels">hotels</a> </li>
                        <li> <a href="#airport">flight & trains</a> </li>
                        <li> <a href="#guide">tourist guides</a> </li>
                        <!-- <li> <a href="#">hotels</a> </li> -->

                    </ul>


                </nav>

                <div id="hotels">

                    <h1 class="hotel_heading">HOTELS</h1>

                    <div class="hotel_details">



                        <div class="hotel_img">

                            <h1 class="hotel_name">ibis Paris Tour Eiffel Cambronne 15eme </h1>
                            <img src="https://r1imghtlak.mmtcdn.com/3f26f244585611eab5cb0242ac11000a.jpg?&output-quality=75&downsize=910:612&crop=910:612;0,35&output-format=jpg"
                                id="img1" class=".grid-item item1">
                            <img src="https://r1imghtlak.mmtcdn.com/375372a4585611eabeec0242ac11000b.jpg?&output-quality=75&downsize=910:612&crop=910:612;4,0&output-format=jpg"
                                id="img2" class=".grid-item item2">
                            <img src="https://r1imghtlak.mmtcdn.com/c904a9fa3ce211eab6310242ac110007.jpg?&output-quality=75&downsize=910:612&crop=910:612;3,0&output-format=jpg"
                                id="img3" class=".grid-item item3">
                            <img src="https://r1imghtlak.mmtcdn.com/4010ed0e585611eaaa870242ac110003.jpg?&output-quality=75&downsize=910:612&crop=910:612;0,35&output-format=jpg"
                                id="img4" class=".grid-item item4">
                            <img src="https://r1imghtlak.mmtcdn.com/d64d945a3ce211eab2b20242ac110002.jpg?&output-quality=75&downsize=910:612&crop=910:612;0,35&output-format=jpg"
                                id="img5" class=".grid-item item5">

                            <div class="hotelpara">

                                <p>

                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iusto tempore
                                    aliquam
                                    sapiente, dignissimos ullam et magni exercitationem vitae consequuntur, fuga
                                    alias
                                    dolore! Velit voluptatibus similique fugit praesentium! Sit dolorum dolore,
                                    fugiat
                                    atque
                                    aliquid, reiciendis quis fuga sint est, impedit commodi in similique placeat
                                    facere
                                    harum assumenda beatae voluptas! Laboriosam?<br>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">makemytrip</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link2</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link3</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link4</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link5</a>



                                </p>



                            </div>


                        </div>






                    </div>



                    <div class="hotel_details">



                        <div class="hotel_img">

                            <h1 class="hotel_name">Novotel Paris Centre Tour Eiffel</h1>
                            <img src="https://r1imghtlak.mmtcdn.com/04bdcf5aaec511e9a13e0242ac110003.jpg?&output-quality=75&downsize=910:612&crop=910:612;0,35&output-format=jpg"
                                id="img1" class=".grid-item item1">
                            <img src="https://r1imghtlak.mmtcdn.com/5057d0fe590c11eab86a0242ac110005.jpg?&output-quality=75&downsize=910:612&crop=910:612;3,0&output-format=jpg"
                                id="img2" class=".grid-item item2">
                            <img src="https://r1imghtlak.mmtcdn.com/508d79d4590c11ea98920242ac110005.jpg?&output-quality=75&downsize=910:612&crop=910:612;3,0&output-format=jpg"
                                id="img3" class=".grid-item item3">
                            <img src="https://r1imghtlak.mmtcdn.com/58038848590c11ea80b70242ac110005.jpg?&output-quality=75&downsize=910:612&crop=910:612;3,0&output-format=jpg"
                                id="img4" class=".grid-item item4">
                            <img src="https://r1imghtlak.mmtcdn.com/6175f2f8590c11ea83af0242ac110005.jpg?&output-quality=75&downsize=910:612&crop=910:612;4,0&output-format=jpg"
                                id="img5" class=".grid-item item5">

                            <div class="hotelpara">

                                <p>

                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iusto tempore
                                    aliquam
                                    sapiente, dignissimos ullam et magni exercitationem vitae consequuntur, fuga
                                    alias
                                    dolore! Velit voluptatibus similique fugit praesentium! Sit dolorum dolore,
                                    fugiat
                                    atque
                                    aliquid, reiciendis quis fuga sint est, impedit commodi in similique placeat
                                    facere
                                    harum assumenda beatae voluptas! Laboriosam?<br>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">makemytrip</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link2</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link3</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link4</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link5</a>



                                </p>



                            </div>


                        </div>



                    </div>


                    <div class="hotel_details">



                        <div class="hotel_img">

                            <h1 class="hotel_name">B&B Hotel Paris 17 Batignolles</h1>
                            <img src="https://gommts3.mmtcdn.com/htl-imgs/htl-imgs/4190725563801505-139434a_hb_a_007.jpg?&output-quality=75&downsize=910:612&crop=910:612;141,0&output-format=jpg&downsize=821:550&crop=821:550"
                                id="img1" class=".grid-item item1">
                            <img src="https://gommts3.mmtcdn.com/htl-imgs/htl-imgs/4190725563801505-259fc2f0_z.jpg?&output-quality=75&downsize=910:612&crop=910:612;141,0&output-format=jpg"
                                id="img2" class=".grid-item item2">
                            <img src="https://gommts3.mmtcdn.com/htl-imgs/htl-imgs/4190725563801505-2d26bb4f_z.jpg?&output-quality=75&downsize=910:612&crop=910:612;141,0&output-format=jpg"
                                id="img3" class=".grid-item item3">
                            <img src="https://gommts3.mmtcdn.com/htl-imgs/htl-imgs/4190725563801505-e84a0162_z.jpg?&output-quality=75&downsize=910:612&crop=910:612;141,0&output-format=jpg"
                                id="img4" class=".grid-item item4">
                            <img src="https://gommts3.mmtcdn.com/htl-imgs/htl-imgs/4190725563801505-53259e14_z.jpg?&output-quality=75&downsize=910:612&crop=910:612;141,0&output-format=jpg"
                                id="img5" class=".grid-item item5">

                            <div class="hotelpara">

                                <p>

                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iusto tempore
                                    aliquam
                                    sapiente, dignissimos ullam et magni exercitationem vitae consequuntur, fuga
                                    alias
                                    dolore! Velit voluptatibus similique fugit praesentium! Sit dolorum dolore,
                                    fugiat
                                    atque
                                    aliquid, reiciendis quis fuga sint est, impedit commodi in similique placeat
                                    facere
                                    harum assumenda beatae voluptas! Laboriosam?<br>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        target="_blank" id="redirect">makemytrip</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link2</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link3</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link4</a>
                                    <a href="https://www.makemytrip.com/hotels-international/france/paris-hotels/"
                                        id="redirect">link5</a>



                                </p>



                            </div>


                        </div>



                    </div>


                    <div id="airport">

                        <h1 class="airport_heading">FLIGHT AND TRAINS</h1>

                        <div class="airport_details">



                            <div class="airport_img">

                                <h1 class="airport_name"> Paris Charles de Gaulle Airport</h1>
                                <img src="https://www.airport-news.org/wp-content/uploads/2022/02/paris-airport.jpg"
                                    id="img1" class=".grid-item item1">

                                <div class="airportpara">

                                    <p>

                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iusto tempore
                                        aliquam
                                        sapiente, dignissimos ullam et magni exercitationem vitae consequuntur, fuga
                                        alias
                                        <br>
                                        <a href="#" id="redirect_airport">makemytrip</a>
                                        <a href="#" id="redirect_airport">link2</a>
                                        <a href="#" id="redirect_airport">link3</a>
                                        <a href="#" id="redirect_airport">link4</a>
                                        <a href="#" id="redirect_airport">link5</a>




                                    </p>



                                </div>


                            </div>



                        </div>


                    </div>




                    <div id="guide">

                        <h1 class="guide_heading">GUIDES</h1>

                        <div class="guide_details">



                            <div class="guide_img">

                                <h1 class="guide_name">chloe</h1>
                                <img src="https://jewish-paris-tours.com/wp-content/uploads/Flora-Goldnberg-Jewish-Louvre-Tour-Paris-58-1024x575.jpg"
                                    id="img1" class=".grid-item item1">

                                <div class="guidepara">

                                    <p>

                                
                                    <div class="nec">

                                        <div class="guide_name1">NAME : <span class="name_g">chloe</span></div><br>
                                        <div class="guide_email">EMAIL : <span
                                                class="email_g">chloeguide@gmail.com</span></div><br>
                                        <div class="guide_contact">CONTACT : <span class="contact_g">8734872837</span>
                                        </div><br>
                                        <div class="guide_experience">EXPERIENCE : <span class="guide_ex">5-6 years</span></div>

                                    </div>


                                    </p>



                                </div>


                            </div>



                        </div>



                        <div class="guide_details">



                            <div class="guide_img">

                                <h1 class="guide_name">ANNA</h1>
                                <img src="https://www.parisontheway.com/images/guides/Cecile.jpg"
                                    id="img1" class=".grid-item item1">

                                <div class="guidepara">

                                    <p>

                        
                                    <div class="nec">

                                        <div class="guide_name1">NAME : <span class="name_g">anna</span></div><br>
                                        <div class="guide_email">EMAIL : <span
                                                class="email_g">annaguidance@gmail.com</span></div><br>
                                        <div class="guide_contact">CONTACT : <span class="contact_g">8493872837</span>
                                        </div><br>
                                        <div class="guide_experience">EXPERIENCE : <span class="guide_ex">8 years</span></div>
                                    </div>


                                    </p>



                                </div>


                            </div>



                        </div>


                    </div>



                </div>













                <!-- </div> -->




            </div>



        </div>

        <div id="map">

            <div class="close_googlebtn">x</div>
            <div class="showmap"></div>

        </div>

        <div id="whether">

            <div class="close_whetherbtn">x</div>
            <div class="showwhether"></div>

        </div>

        <div id="user_distance">

            <div class="close_distancebtn">x</div>

            <div class="locateioncontent">

                <div>

                    CITY : <span class="locationplace1"></span>
                </div>
                <br>


                <div>

                    STATE : <span class="locationplace2"></span>
                </div>
                <br>


                <div>

                    COUNTRY : <span class="locationplace3"></span>
                </div>
                <br>


            </div>

        </div>





        <div class="image-menu">

            <div class="close">x</div>
            <!-- <div class="imgheading">tajmahal</div> -->
            <!-- <img alt="tajmahal" id="img"> -->
            <div class="image-details">

                <h2>HISTORY OF FRANCE</h2>
                <p>The first written records for the history of France appeared in the Iron Age. What is now France made
                    up the bulk of the region known to the Romans as Gaul. Greek writers noted the presence of three
                    main ethno-linguistic groups in the area: the Gauls, the Aquitani, and the Belgae. The Gauls, the
                    largest and best attested group, were Celtic people speaking what is known as the Gaulish language.
                </p>

                <button id="btn-360">360 VIEW</button>
                <button id="btn-placedetails">PLANE YOUR TOUR</button>
                <button id="btn-googlemap">show location</button>
                <button id="btn-whether">show whether</button>
                <button id="btn-distance">user location</button>


            </div>
        </div>

        <div class="content">


            <div class="imagesplaces">


                <div class="image1">

                    <img alt="paris" id="img">
                    <div class="imgheading">paris</div>
                    <button id="btn-about">EXPLORE</button>

                </div>
            </div>



            <div class="imagesplaces">


                <div class="image1">

                    <img alt="Arc de Triomphe" id="img">
                    <div class="imgheading">Arc de Triomphe</div>
                    <button id="btn-about">EXPLORE</button>
                    <!-- <img src="/static/tajmahal.jpg"> -->

                </div>
            </div>
            <div class="imagesplaces">


                <div class="image1">

                    <img alt="Le mont saint michel" id="img">
                    <div class="imgheading">Le mont saint michel</div>
                    <button id="btn-about">EXPLORE</button>
                    <!-- <img src="/static/tajmahal.jpg"> -->

                </div>
            </div>
            <div class="imagesplaces">


                <div class="image1">

                    <img alt="Museum de louvre" id="img">
                    <div class="imgheading">Museum de louvre</div>
                    <button id="btn-about">EXPLORE</button>
                    <!-- <img src="/static/tajmahal.jpg"> -->

                </div>
            </div>
            <!-- <div class="imagesplaces">


                <div class="image1">

                    <img alt="tajmahal" id="img">
                    <div class="imgheading">goa</div>
                    <button id="btn-about">EXPLORE</button>
                    <img src="/static/tajmahal.jpg" >

                </div>
            </div>
            <div class="imagesplaces">


                <div class="image1">

                    <img alt="tajmahal" id="img">
                    <div class="imgheading">dargiling</div>
                    <button id="btn-about">EXPLORE</button>
                    <img src="/static//static/tajmahal.jpg">

                </div>
            </div>
            <div class="imagesplaces">


                <div class="image1">

                    <img alt="tajmahal" id="img">
                    <div class="imgheading">mumbai</div>

                    <button id="btn-about">EXPLORE</button>

                    <img src="/static/tajmahal.jpg">

                </div>
            </div>

            <div class="imagesplaces">


                <div class="image1">

                    <img alt="tajmahal" id="img">
                    <div class="imgheading">manali</div>
                    <button id="btn-about">EXPLORE</button>

                    <img src="/static/tajmahal.jpg">

                </div>
            </div> -->


        </div>


    </section>

    <section id="services">

        <div class="heading-about">about</div>

        <div class="planeyourtour_btn_content">

            <h2>ABOUT OUR WEBSITE</h2>
            <p>3d Tourism our website is about a 3d place it shows you a Place in 3D and give you a perfect view that
                hoe that particular place looks like you can enjoy that view from home.

            </p>


        </div>

    </section>

    <section id="contact">


        <div class="heading-contact">contact</div>


        <form id="form1" action="/formdata" method="post">

            <!-- <input type="text" name="ENTER YOUR NAME" id="name" placeholder="ENTER YOUR NAME">
            <input type="text" name="ENTER YOUR EMAIL" id="email" placeholder="ENTER YOUR EMAIL">
            <input type="text" name="ENTER YOUR MOBILE" id="mobile" placeholder="ENTER YOUR MOBILE"> -->
            <textarea name="whatweshouldimproveinourwebsites" id="address" cols="30" rows="10"
                placeholder="WHAT WE SHOULD IMPROVE IN OUR WEBSITES"></textarea>
            <input type="submit" value="submit" id="form">


        </form>

    </section>

    <footer id="footer">

        <div class="foot">
            <p>

                @copyrights 3D TOUR OVERVIEW <span></span> | -----------

            </p>
        </div>


        <script>

            function toggleForm() {

                var container1 = document.querySelector('.container1');
                container1.classList.toggle('active');


            }

        </script>

        <script type="module" src="/client.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

</body>

</html>